/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------Global Styles---------- */
 @font-face {
        font-family: pixelFont;
        src: url("./Fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf");
    }

body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: beige;
   font-family: pixelFont;
   overflow-x: hidden;
}

h1{
    font-size: 48pt;
}
p{
    font-size: 14pt;
    line-height: 25px;
    padding: 50px;
}


/* ----------Image Styles---------- 
 .title-card img{
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: sticky;
    top: 0;
    left: 0;
    @media screen and (max-width: 1024px) { 
        /* Specific to this particular image 
  .title-card img {
    left: 50%;
    margin-left: -512px;   
  }

  */
 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 
 #fredHead{
    width: 100%;
    height: 100vh;
    
 }
 #fredHead svg{
    width: 100%;
    height: 100%;
    object-position: left;
 }
 #container{
    width: 100%;
    height: 1200vh;
 }
 /* FNAF 1 
 .parallax_freddy{
    display: inline-grid;
    grid-template-rows: auto 1fr ;
 }
 
 .parallax_foxy img{
     width: 100vw;
  height: 100vh;
  object-fit: cover;
 }
 /* FNAF 2 
 .freddys_pizzeria img{
 width: 100vw;
  height: 100vh;
  object-fit: cover;
 }
 .parallax_puppet img{
     width: 100vw;
  height: 100vh;
  object-fit: cover;
 }

 .parallax_stage img{
     width: 100vw;
  height: 100vh;
  object-fit: cover;
 }
 /* FNAF 4 
 .parallax_biteof83 img{
     width: 100vw;
  height: 100vh;
  object-fit: cover;
 }
 .parallax_menu img{
     width: 100vw;
  height: 100vh;
  object-fit: fill;
 }
 .bedroom_gif img{
     width: 100vw;
  height: 100vh;
  object-fit: fill;
 }
/* FNAF Sister Location 
.parallax_baby img{
     width: 100vw;
  height: 100vh;
  object-fit: cover;
 }
 .elevator_gif img{
     width: 100vw;
  height: 100vh;
  object-fit: cover;
 }
 .scooping_gif img{
     width: 100vw;
  height: 100vh;
  object-fit: cover;
 }
  */
/* ----------Link Styles---------- */
.nav-bar{
    position: fixed;
    top: 0;
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
}
