/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------Global Styles---------- */
 @font-face {
        font-family: pixelFont;
        src: url("./Fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf");
    }
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: beige;
   font-family: pixelFont;
   overflow-x: hidden;
}

h1{
    font-size: 48pt;
}




/* ----------Image Styles---------- 
 .title-card img{
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: sticky;
    top: 0;
    left: 0;
    @media screen and (max-width: 1024px) { 
        /* Specific to this particular image 
  .title-card img {
    left: 50%;
    margin-left: -512px;   
  }

  */
  
  
  #overlay{
    background-image: url(./Assets/gifs/static.gif);
  }
 .title-card img{
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: sticky;
    top: 0;
    left: 0;
    padding-bottom: 900px;
 }
 
 #fredHead{
    width: 100vw;
    height: 100vh;
    
 }
 #fredHead svg{
    width: 100%;
    height: 100%;
    object-position: left;
 }
 /* FNAF 1 */
 #fredHead p{
    font-size: 12pt;
    line-height: 25px;
    padding: 10px;
  }

 .parallax_freddy > *{
  display: grid;
  grid-template-columns: 4fr 3fr;
  
  padding-right: 75px;
  padding-bottom: 100px;
  
 }
#foxy_canvas{
  display: block;
  width: 100vw;
  height: 100vh;
 
}


#fnaf_1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-bottom: 100vh;
  overflow: hidden;
}

.track {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#panel {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
}
.foxy-panel {
  position: relative;
}

#foxy_canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.text_1 {
  position: relative; 
  padding: 60px;
  width: fit-content;
  margin: 0 auto;

  font-size: 36px;
  line-height: 1.6;

  opacity: 0;
}
.text_1 b{
  font-size: 60px;
}

 /* FNAF 2  */
 #fnaf_2 img{
   position: relative;
  width: 100vw;
  height: 100vh;
  margin-bottom: 100vh;
  overflow: hidden;
 }
 .text_2 b{
  font-size: 36px;
}
 #abby_canvas {
   display: block;
  width: 100%;
  height: 100%;
}
#puppet_canvas {
   display: block;
  width: 100vw;
  height: 100vh;
}

/* FNAF 4  */

 
/* FNAF Sister Location */

/* ----------Link Styles---------- */
/* .nav-bar{
    position: fixed;
    top: 0;
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
}

div{
	width: 100%;
}

img{
	display: block;
	width: 100%;
	height: auto;
} */

/* 
	TV Static CSS effect From CSS Tricks:  
	https://css-tricks.com/making-static-noise-from-a-weird-css-gradient-bug/#:~:text=Animated%20no%20TV%20signal&text=If%20you%20check%20the%20code,this%20is%20what%20we%20get!
*/
#FNAF{
	position: relative;
	z-index: 1;
/* 	padding: 900px 0; */
}


#static {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0.35;
	padding-bottom: 1500px;
  background: 
    repeating-radial-gradient(#000 0 0.0001%,#fff 0 0.0002%) 50% 0/2500px 2500px,
    repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0002%) 60% 60%/2500px 2500px;
  background-blend-mode: difference;
  animation: b .2s infinite alternate;
}
@keyframes b{
  100% {background-position: 50% 0, 60% 50%}
} 